<ActionBar title="Detalle" class="action-bar"></ActionBar>
<!--<FlexboxLayout flexDirection="column" class="page">-->
    <!--<FlexboxLayout class="m-15">-->
<StackLayout orientation="vertical">
    <TextView [text]="item.id" editable="false" class="input-field"></TextView>
    <TextView [text]="item.name" editable="false" class="input-field"></TextView>
    <TextView [text]="item.role" editable="false" class="input-field"></TextView>
</StackLayout>
    <!--</FlexboxLayout>-->
<!--</FlexboxLayout>-->
